<ion-view view-title="Счета">
    <ion-content>

        <div class="list content-list" can-swipe="true" can-swipe>
            <a class="item item-icon-left" ng-repeat="account in accounts" href="#/app/accounts/{{account.id}}" on-hold="showMenu(account)">
                <i class="icon circle {{getIcon(account.type)}}" style="background-color: {{getColor(account.type)}}"></i>
                <div class="content-item one-line-item item-amount">
                    <h2><span>{{account.name}}</span></h2>

                    <i class="amount">{{account.value}} {{account.currency.type}}</i>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>
