<ion-view view-title="Счета">
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-plus-round" ng-click="add()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Обновить" on-refresh="doRefresh(true)">
        </ion-refresher>

        <div class="list content-list">
            <a class="item item-icon-left" ng-repeat="account in accountList" ng-click="edit(account)" on-hold="showMenu(account)">
                <i class="icon circle {{getIcon(account.type)}}" style="background-color: {{getColor(account.type)}}"></i>
                <div class="content-item one-line-item item-amount">
                    <h2><span>{{account.name}}</span></h2>

                    <i class="amount" ng-class="{'positive-value': account.value > 0, 'negative-value': account.value < 0}">
                        {{account.value}}&nbsp;<span class="amount-icon {{getCurrencyIcon(account.currency)}}"></span>
                    </i>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>
