<div class="modal">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button-icon icon ion-ios7-arrow-back" ng-click="closeForm()"></button>
        </div>
        <h1 class="title">{{account.id ? 'Редактирование счета': 'Новый счет'}}</h1>
        <div class="buttons">
            <button class="button-icon icon ion-checkmark-round" ng-click="save(account)"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list padding-left-30 padding-right-30 padding-top-30">
            <label class="item item-input">
                <input type="text" ng-model="account.name" placeholder="Наименование" required>
            </label>

            <account-type-select value="account.type"></account-type-select>
            <account-currency-select value="account.currency"></account-currency-select>


        </div>
    </ion-content>

</div>