<script type="text/ng-template"  id="categoryChildItem.html">
    <a class="item item-icon-left" ng-click="select(category)" ng-if="category.id != excludeId" ng-class="{'selected-value': value == category.id}">
        <i class="icon circle {{getIcon(category)}}" style="background-color: {{category.color}}"></i>
        <div class="content-item one-line-item wrap">
            <h2><span>{{category.name}}</span></h2>
        </div>
    </a>
    <div ng-repeat="category in category.childCategoryList" ng-include="'categoryChildItem.html'" ng-init="t = t + 1" class="padding-left-{{t}}" ng-if="category.id != excludeId && t < 1">

    </div>
</script>


<div class="modal">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button-icon icon ion-ios7-arrow-back" ng-click="close()"></button>
        </div>
       <h1 class="title">Родительская категория</h1>
    </ion-header-bar>


    <ion-content>
        <ion-refresher pulling-text="Обновить" on-refresh="doRefresh(true)">
        </ion-refresher>

        <div class="list content-list">
            <div ng-repeat="category in categoryList" ng-include="'categoryChildItem.html'" ng-init="t = 0" ng-if="category.id != excludeId">
            </div>

        </div>

    </ion-content>
</div>
