<ion-view view-title="История операций">
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-plus-round" ng-click="add()">
        </button>
    </ion-nav-buttons>


    <ion-content>
        <ion-refresher pulling-text="Обновить" on-refresh="doRefresh(true)">
        </ion-refresher>

        <div class="list content-list">

            <div ng-repeat="oper in operations"
                 collection-item-width="'100%'"
                 collection-item-height="getItemHeight(oper, $index)"
                 class="collection-item">


                <div class="item item-divider" ng-if="oper.temp.needShowGroup">
                    {{::oper.temp.groupTitle}}
                </div>

                <a class="item item-icon-left " ng-click="edit(oper)" ng-class="{'last':$last || oper[$index + 1].temp.needShowGroup}">
                    <i class="icon circle {{oper.category.icon}}" style="background-color: {{oper.category.color}}"></i>
                    <div class="content-item one-line-item item-amount">
                        <h2>
                            <span ng-if="oper.type == 'INCOME' || oper.type == 'OUTCOME'">
                                {{
                                    oper.description ||
                                    (oper.shop && oper.shop.name) ||
                                    oper.category.name
                                }}
                            </span>

                            <span ng-if="oper.type == 'INPUT_TRANSFER' || oper.type == 'OUTPUT_TRANSFER'">
                                {{oper.account.name}}
                            </span>
                        </h2>

                        <i class="amount" ng-class="{'positive-value': oper.type == 'INCOME', 'negative-value': oper.type == 'OUTCOME'}">
                            {{oper.type == 'OUTCOME' || oper.type == 'OUTPUT_TRANSFER' ? '-' : ''}}{{::oper.value}}&nbsp;<span class="amount-icon {{::oper.temp.currencyIcon}}"></span>
                        </i>
                    </div>
                </a>


            </div>

        </div>

        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                icon="ion-loading-c"
                on-infinite="load()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
