<ion-view view-title="История операций">
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-plus-round" ng-click="add()">
        </button>
    </ion-nav-buttons>


    <ion-content>
        <ion-refresher pulling-text="Обновить" on-refresh="doRefresh(true)">
        </ion-refresher>

        <div class="list content-list">

            <div collection-repeat="operation in operations"
                 collection-item-width="'100%'"
                 collection-item-height="getItemHeight(operation, $index)"
                 class="collection-item">


                <div class="item item-divider" ng-if="needShowGroup(operation, operations[$index - 1])">
                    {{getGroupTitle(operation)}}
                </div>

                <a class="item item-icon-left " href="#/app/operation/{{operation.id}}" ng-class="{'last':$last}">
                    <i class="icon circle {{operation.category.icon}}" style="background-color: {{operation.category.color}}"></i>
                    <div class="content-item one-line-item item-amount">
                        <h2><span>{{operation.description ||
                            (operation.shop && operation.shop.name) ||
                            operation.category.name}}</span></h2>

                        <i class="amount" ng-class="{'positive-value': operation.type == 'INCOME', 'negative-value': operation.type == 'OUTCOME'}">
                            {{operation.type == 'OUTCOME' ? '-' : ''}}{{operation.value}}&nbsp;<span class="amount-icon {{getCurrencyIcon(operation.currency)}}"></span>
                        </i>
                    </div>
                </a>


            </div>

        </div>

        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                icon="ion-loading-c"
                on-infinite="load()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
