<div class="modal">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button-icon icon ion-ios7-arrow-back" ng-click="closeForm()"></button>
        </div>
        <h1 class="title">{{shop.id ? 'Редактирование учреждения': 'Новое учреждение'}}</h1>
        <div class="buttons">
            <button class="button-icon icon ion-checkmark-round" ng-click="save(shop)"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list padding-left-30 padding-right-30 padding-top-30">
            <label class="item item-input">
                <input type="text" ng-model="shop.title" placeholder="Наименование" required>
            </label>
            <label class="item item-input">
                <input type="text" ng-model="shop.name" placeholder="Обозначение при импорте (через ;)" required>
            </label>

        </div>
    </ion-content>

</div>