<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.friendlymoneylite719929" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FriendlyMoneyLite</name>
  <description>
        Client for friendly-money.com
    </description>
  <author email="admin@friendly-money.com" href="http://friendly-money.com/">
      Friendly Soft Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>